name: Build Android APK

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'   # Use JDK 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: '8.11.1'  # Specify the Gradle version you want to use

      - name: Make gradlew executable
        run: chmod +x ./gradlew  # Change permissions to make gradlew executable

      - name: Build APK
        run: ./gradlew assembleDebug # Use the Gradle wrapper to build the APK

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: wuziqi-apk
          path: app/build/outputs/apk/debug/app-debug.apk
